* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #002147;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.loader-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.loader {
  position: relative;
  width: 100%;
  height: 100%;
}

.loader-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgba(0, 255, 255, 0.15);
  overflow: hidden;
}

.loader-glow {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 40%;
  border-radius: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  background: radial-gradient(
    circle at center,
    rgba(0, 255, 255, 0.8) 10%,
    rgba(0, 255, 255, 0.8) 0%,
    rgba(0, 255, 255, 0.4) 0%,
    rgba(0, 255, 255, 0.2) 32%,
    rgba(0, 255, 255, 0.1) 37%,
    transparent 68%
  );
  filter: blur(5px);
  animation: orbit 1.3s infinite;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateY(-50px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateY(-50px) rotate(360deg);
  }
}


.text-container {
  position: absolute;
  bottom: 0;
  color: white;
  left: 0;
  background-color: #004797;
  transform: translate(-50%, -50%);
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #003366;
  color: white;
  padding: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  font-size: 16px;
}

.bottom-bar i {
  font-size: 24px;
  opacity: 0.9;
}

.bottom-bar .loading-title-1 {
  font-weight: 400;
  opacity: 0.9;
  animation: title-1 0.3s 3s forwards;
}

@keyframes title-1 {
  from {opacity: 0.9;}
  to {opacity: 0;}
}

.loading-title-2 {
  font-weight: 400;
  opacity: 0;
  position: absolute;
  top: 100px;
  animation: title-2 0.3s 3s forwards;
}

@keyframes title-2 {
  from {opacity: 0; top: 100px;}
  to {opacity: 0.9; top: 60px;}
}

.loading-title-3 {
  font-weight: 400;
  opacity: 0;
  font-size: 14px;
  letter-spacing: 0.5px;
  position: absolute;
  top: 85px;
  animation: title-3 0.3s 3s forwards;
}

@keyframes title-3 {
  from {opacity: 0; top: 100px;}
  to {opacity: 0.9; top: 85px;}
}

